{% extends 'base.html.twig' %}

{% block title %}Ajout de livre{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <script>
        if (history.length <= 1) {
            document.getElementById('back-btn').style.display = 'none';
        }

    <div class="w-50 m-auto">
    
        <div class="example-wrapper py-4">
            <h1>Ajout de livre</h1>
        
            {{ form_start(form) }}
            {{ form_row(form.title, {label: 'Nom'}) }}
            {{ form_row(form.isbn, {label: 'Numéro ISBN'}) }}
            {{ form_row(form.cover, {label: 'Couverture (lien URL)'}) }}
            {{ form_row(form.editedAt, {label: 'Date d\'édition'}) }}
            {{ form_row(form.plot, {label: 'Synopsis'}) }}
            {{ form_row(form.pageNumber, {label: 'Nombre de pages'}) }}
            {{ form_row(form.status, {label: 'Statut'}) }}
            {{ form_row(form.authors, {label: 'Auteurs'}) }}
            {{ form_row(form.editor, {label: 'Editeur'}) }}
            {{ form_row(form.comments, {label: 'Commentaires'}) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Envoyer</button>
            <a href="javascript:history.back()" class="btn btn-secondary" id="back-btn">Retour</a>
            
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}